@import "../../styles/variables.scss";

// --- --- --- CAPSULE STYLE --- --- --- //

.home{
  height: 93vh;
  // border: 1px solid red;

  .banner{
    height: 400px;
    overflow: hidden;

    display: flex;
    // justify-content: flex-start;
    align-items: flex-start;

    &__image{
      width: 100%;
      margin-top: -400px;
    }

    .heroContent{
      background-color: white;
      color: #2c3e50;
      width: 300px;
      height: 180px;
      position: absolute;
      top: 150px;
      right: 50px;
      padding: 2rem;
    }
  }

  .homeBody{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-between;

    &__item{
      height: 100%;
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;

      img{
        border: 10px solid #00bc77;
        border-radius: 50%;
        height: 112px;
        width: 112px;
        padding: 10px;
        margin-top: 34px;
      }

      p{
        display: flex;
        align-items: center;
        width: 60%;
        border: 1px solid yellowgreen;
        margin-top: -10px;
      }
    }
  }
}