// -------- COLORS --------

$primary: #1c3761;
$secondary: #81D4FA;
$tertiary: #dad9d9;

$redLight: #EF6C00;
$redDark: #9c4a07;
$redWarning: #e21f1f;

$orangeDark: #f7a72f;
$orangeLight: #FFCC80;

$greenDark: #308f85;
$greenLight: #80CBC4;
$greenCrystal: #B2DFDB;
