@import "../../styles/variables.scss";

// --- --- --- CAPSULE STYLE --- --- --- //

.capsule{
  height: 100vh;

  .header{
    background-color: $secondary;
    border: 1px solid red;
    height: 7vh;

    display: flex;
  }
}