@import "../../styles/variables.scss";

// --- --- --- CAPSULE STYLE --- --- --- //

.capsule{
  height: 100vh;

  .header{
    height: 65px;
    display: flex;
    justify-content: space-between;

    &__rightSide{
      width: 200px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 20px;

      button{
        height: 100%;
      }

      .link{
        margin-right: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: 600;

        &:hover{
          text-decoration: underline;
        }
      }

      .icon{
        margin-right: 5px;
      }
    }
  }
}
