.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  border-top: 1px solid #ccc;
  height: 10vh;
}

.homeSize{
  height: 19vh;
}

.loginAndBoardSize{
  height: 9vh;
}